/* html {
    height: 100%;
    width: 100%;
  } */
  

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    row-gap: 8px;
    font-family: "Inter", sans-serif;
    padding-top: 20px;
}

.container {
    padding: 20px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(252, 238, 241);
}

h1 {
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    color: #000000;
}

label {
    font-size: 15px;
    color: #000;
    text-align: center;
}

.input-buttons {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

input {
    background-color: #EEEEEE;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    font-family: inherit;
    color: #000;
}

button {
    border: 0;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    font-family: inherit;
}

.add-color {
    background-color: #FFCC68;
}

.delete-all-color {
    background-color: rgb(135, 243, 135);
}

.add-color:hover {
    background-color: #F9AF1F;
}

.delete-all-color:hover {
    background-color: #FA710D;
}

button:hover {
    cursor: pointer;
}

ul {
    color: #000;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 8px;
    padding: 0;
}

ul li {
    background-color: #FBDF7C;
    padding: 8px;
    border-radius: 8px;
}

ul li:hover {
    background-color: #EEBF1A;
    cursor: pointer;
}